.App {
  text-align: center;
  overflow-x: hidden;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.main-cont{
  min-height:calc(140vh - 900px )
}
.notfound{
  position: absolute;
color: brown;
font-size: 100px;
align-items: center;
justify-items: center;
margin-top: -500px;
width: 100%;
}



